[submodule "modules/vim/vim.dot.link/bundle/nerdtree"]
	path = modules/vim/vim.dot.link/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "modules/xcompose/xcompose"]
	path = modules/xcompose/xcompose
	url = https://github.com/leoboiko/pointless-xcompose.git
[submodule "modules/vim/vim.dot.link/bundle/syntastic"]
	path = modules/vim/vim.dot.link/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "modules/scripts/apps/scripts.link"]
	path = modules/scripts/apps/scripts.link
	url = git://git.sarava.org/scripts.git
[submodule "modules/conky/apps/brweather.link"]
	path = modules/conky/apps/brweather.link
	url = git://git.sarava.org/brweather.git
[submodule "modules/vim/vim.dot.link/bundle/tabular"]
	path = modules/vim/vim.dot.link/bundle/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "modules/awesome/config.dot/awesome.link/awesompd"]
	path = modules/awesome/config.dot/awesome.link/awesompd
	url = git://git.sarava.org/awesompd.git
