# Using Remind
# ============
#
# Needed packages for ical2rem.pl
# -------------------------------
#
#   perl-class-accessor
#   perl-class-accessor-chained
#   perl-datetime
#   perl-datetime-event-ical
#   perl-datetime-event-recurrence
#   perl-datetime-format-ical
#   perl-datetime-locale
#   perl-datetime-span
#   perl-datetime-timezone
#   perl-ical-parser
#   perl-io-string
#   perl-list-moreutils
#   perl-params-validate
#   perl-set-infinite
#   perl-vfile-asdata
#   perl-class-singleton
#
# Conversion procedure
# --------------------
#
# 0. Use patched ical2rem.pl from http://tim.stoakes.net/remind
#
# 1. Set timezone to UTC or somewhere.
#
# 2. Run conversion script:
#
#   for file in `ls`; do
#     ical2rem.pl --label `basename $file .ics` < $file > \
#     `basename $file .ics | tr '[:upper:]' '[:lower:']`.rem;
#   done
#
# 3. Fix timezone info and configuration. Examples:
#
#   for file in `ls *.rem`; do sed -i 's|Europe/Amsterdam|America/Sao_Paulo|g' $file; done
#   for file in `ls *.rem`; do sed -i 's|UTC|America/Sao_Paulo|g' $file; done
#
# 4. Fix charset:
#
#   for file in `ls *.rem`; do
#     iconv -c --from-code=UTF-8 --to-code=ISO-8859-1 $file > $file.new;
#     mv $file.new $file;
#   done
#
# Useful links
# ------------
#   
#   http://tim.stoakes.net/remind/
#   http://pbrisbin.com:8080/bin/ical2rem.pl
#   http://github.com/FND/misc/blob/master/ical2rem.pl
#   http://www.offensivethinking.org/projects/ical2rem/
#   http://github.com/courts/ical2rem.rb
#   http://jalcorn.net/weblog/archives/899-iCal-to-Remind-script.html
#   http://writequit.org/blog/?cat=487

# From Remind Cookbook
# http://wiki.43folders.com/index.php/Remind_Cookbook
INCLUDE .remind/cookbook/

# Custom calendars
#INCLUDE .remind/index.rem

# Calendar data imported from Sunbird
#INCLUDE .remind/sunbidr
